<div @attributes="InputAttributes">
    @{
        var href = Path.Join([
            "/article",
            .. Article.Directory.Split('/').Select(Uri.EscapeDataString).ToArray(),
            Uri.EscapeDataString(Article.Name[..^3])
        ]);
    }
    <a class="btn link text-start w-100 h-100" href="@href">
        <div>
            <h5 class="fw-bold line-truncate-2 text-wrap-balance">
                @(Article.Title ?? Article.Name[..^3])
            </h5>
            <div><i class="nf nf-fa-pen"></i> @Article.LastUpdated</div>
            <div><i class="nf nf-md-clock"></i> @Article.CreatedAt</div>
        </div>
    </a>
</div>

@code {
    [Parameter]
    public required Models.Article Article { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? InputAttributes { get; set; }
}
